@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.result {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
}

canvas#myChart.chartjs-render-monitor {
    height: 350px;
}

.wpm-score-sec {
    margin-top: 10px;
}

.timing-sec {
    margin-top: -26px;
}

.wpm-score-sec h2 {
    font-family: 'Roboto Mono', monospace;
    color: #6272a4; /* Soft blue color for labels */
    font-weight: bold;
    font-size: 20px;
}

.wpm-score-sec h3 {
    font-family: 'Roboto Mono', monospace;
    color: #50fa7b; /* Green color for the score */
    font-weight: bold;
    font-size: 45px;
    margin-top: -14px;
}

/* ---- */

.timing-sec h2 {
    font-family: 'Roboto Mono', monospace;
    color: #6272a4; /* Soft blue color for labels */
    font-weight: bold;
    font-size: 20px;
}

.timing-sec h3 {
    font-family: 'Roboto Mono', monospace;
    color: #ff79c6; /* Pink color for the timing */
    font-weight: bold;
    font-size: 45px;
    margin-top: -12px;
}
